<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <title>Index</title>
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"  rel="stylesheet">
</head>
<body>
    <div class="container" >
    
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Create School count</h1>
            <form accesskey="/registration" th:action="@{/registration}" method="POST" th:object="${userdto}">
                <div class="form-group">
                    <label>School name</label>
                    <input class="form-control" type="text" th:field="*{name}" placeholder="Name"/>
                    <p th:each="error: ${#fields.errors('email')}"
                      th:text="${error}">Validation error</p>
                </div>
                 <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="email" th:field="*{email}" placeholder="Email"/>
                    <p th:each="error: ${#fields.errors('email')}"
                      th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <label >Pseudo</label>
                    <input class="form-control" th:field="*{username}" placeholder="Username"/>
                    <p th:each="error: ${#fields.errors('username')}"
                      th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="password" th:field="*{password}" placeholder="Password"/>
                    <p th:each="error: ${#fields.errors('password')}"
                      th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <label>Confirmed password</label>
                    <input class="form-control" type="password" th:field="*{matchingPassword}"/>
                </div>
                <div>Adress</div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">Phone Number</label>
                        <input type="number" class="form-control" id="inputCity" th:field="*{numero}">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">Street</label>
                        <input type="text" class="form-control" id="inputCity" th:field="*{rue}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity"> Postal Code</label>
                        <input type="number" class="form-control" id="" th:field="*{codePostale}">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">City</label>
                        <select id="inputState" class="form-control" th:field="*{ville}">
                          <option value="St-Etienne">tunis</option>
                          <option value="St-Etienne">bizerte</option>
                          <option value="ok">...</option>
                        </select>
                    </div>
                </div>
                
                 <div class="form-group">
                     <button class="col-sm-6 col-sm-offset-3 btn btn-info" type="submit" value="submit">Submit</button>
                 </div>
               
            </form>
        </div>
    </div>
</div>
</body>
</html>
